# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Base de datos local
data/*.db
data/*.db-*
!data/.gitkeep

# Editor
.vscode/*
!.env.example
!.vscode/extensions.json
.idea
.DS_Store

# Env (futuro)
.env
.env.*
